WAN_SSH_ENV=development
WAN_SSH_AUTH_MODE=dev-anonymous
WAN_SSH_BIND_HOST=0.0.0.0
WAN_SSH_PORT=8788
WAN_SSH_ALLOWED_ORIGINS=http://127.0.0.1:5179
WAN_SSH_MAX_SESSIONS_PER_USER=3
WAN_SSH_MAX_SESSIONS_TOTAL=20
WAN_SSH_CONNECT_TIMEOUT_MS=15000
WAN_SSH_IDLE_TIMEOUT_MS=900000
WAN_SSH_MAX_SESSION_MS=14400000
WAN_SSH_AUTH_TIMEOUT_MS=5000
WAN_SSH_HOST_KEY_TIMEOUT_MS=60000
WAN_SSH_MAX_MESSAGE_BYTES=524288
WAN_SSH_MAX_PRIVATE_KEY_BYTES=262144
WAN_SSH_OUTPUT_HIGH_WATER_BYTES=1048576
WAN_SSH_OUTPUT_LOW_WATER_BYTES=262144
WAN_SSH_BACKPRESSURE_TIMEOUT_MS=10000
WAN_SSH_OUTPUT_BATCH_BYTES=65536
WAN_SSH_EGRESS_MODE=development
WAN_SSH_TRUSTED_PROXY_CIDRS=172.30.0.0/24
WAN_SSH_CONNECT_RATE_LIMIT=30
WAN_SSH_CONNECT_RATE_WINDOW_MS=60000
WAN_SSH_LOG_LEVEL=info